<section id="notes">
  <%= render "search_bar" %>
  <%= button_to "New Note", new_note_path, method: :get, id: "new-note", class: "lg-only"%>
  <%= button_to "+", new_note_path, method: :get, id: "new-note", class: "sm-only"%>
  <% if @notes.empty? %>
    <% if @search_pattern %>
      <div id="empty-note">
        Sorry, but no notes match "<%= @search_pattern %>"... <%= link_to "please try another search term", root_url %>
      </div>
    <% else %>
      <div id="empty-note">
        Doesn"t look like you have any notes yet
        <div class="add-note"><%= link_to "why not add one?", new_note_path %></div>
      </div>
    <% end %>
  <% end %>
  <% @notes.each do |note| %>
    <%= render "note", note: note %>
  <% end %>
</section>
<section id="footer">
  <div class="notes-count">
    <% if @notes.count > 0 %>
      <%= pluralize @notes.count, 'notes' %> found
    <% else %>
      no notes found
    <% end %>
  </div>
</section>
